[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multiverse"]
	path = multiverse
	url = https://github.com/mucollective/multiverse
